# ignore any files that potentially contain sensitive information
# ignore all json files
*.json
AdminLock.php
ChangePassword.php
ProfileEditor.php
Account.php

#ignore all image types
*.jpg
*.png
*.gif
*.bmp
*.jpeg

#ignore zips and mcworlds
*.zip
*.mcworld

