 .u-section-1 {
  background-image: url("https://projectnodenium.com/Profiles/Content/fanny_2.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 248px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 63px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1777px;
}

.u-section-2 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 72px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 16px 16px;
  grid-template-columns: calc(25% - 12px) calc(25% - 12px) calc(25% - 12px) calc(25% - 12px);
  min-height: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-8 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-17 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-image-9 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-19 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-image-10 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-20 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-21 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-image-11 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-23 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-image-12 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-24 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-25 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0;
}

.u-section-2 .u-image-13 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-26 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-27 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 0;
}

.u-section-2 .u-image-14 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-28 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-29 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0;
}

.u-section-2 .u-image-15 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-30 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-31 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 0;
}

.u-section-2 .u-image-16 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-32 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-33 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 0;
}

.u-section-2 .u-image-17 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-34 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-35 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 0;
}

.u-section-2 .u-image-18 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-36 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-37 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 0;
}

.u-section-2 .u-image-19 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-38 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-39 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 0;
}

.u-section-2 .u-image-20 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-40 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-41 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 0;
}

.u-section-2 .u-image-21 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-42 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-43 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 0;
}

.u-section-2 .u-image-22 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-44 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-45 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-23 {
  padding: 0;
}

.u-section-2 .u-image-23 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-46 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-47 {
  margin: 9px 32px 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 0;
}

.u-section-2 .u-image-24 {
  width: 91px;
  height: 91px;
  margin: 22px auto 0;
}

.u-section-2 .u-text-48 {
  font-size: 1.66667rem;
  width: 209px;
  margin: 9px auto 0;
}

.u-section-2 .u-text-49 {
  margin: 9px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    min-height: 1298px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-35 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-43 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-47 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-49 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.00003px) calc(50% - 8.00003px);
    min-height: 3977px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-22 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-24 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-26 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-28 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-30 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-32 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-34 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-36 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-38 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-40 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-42 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-44 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-46 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-48 {
    font-size: 1.5rem;
  }
}