 .u-section-1 {
  background-image: url("https://projectnodenium.com/Profiles/Content/blitz_3.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 248px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 63px auto 60px;
}
  .u-section-2 .u-list-2 {
   margin-top: 30px;
   margin-bottom: 0px;
  }
@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2156px;
}

.u-section-2 .u-text-1 {
  text-align: start;
  margin: 56px auto 0;
}

.u-section-2 .u-tabs-1 {
  min-height: 1893px;
  margin-top: 62px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.77778rem;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-text-3 {
  margin: 19px auto 0 23px;
}

.u-section-2 .u-line-1 {
  width: 383px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 3.77778rem;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-text-9 {
  text-align: left;
  margin: 18px auto 0 23px;
}

.u-section-2 .u-line-2 {
  width: 383px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-12 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-size: 3.77778rem;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-text-15 {
  text-align: left;
  margin: 18px auto 0 23px;
}

.u-section-2 .u-line-3 {
  width: 383px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px 0 0 23px;
}

.u-section-2 .u-list-3 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-repeater-3 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-2 .u-text-16 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-17 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-2 .u-text-18 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-19 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-20 {
  font-size: 3.77778rem;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-text-21 {
  text-align: left;
  margin: 18px auto 0 23px;
}

.u-section-2 .u-line-4 {
  width: 383px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px 0 0 23px;
}

.u-section-2 .u-list-4 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-repeater-4 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-2 .u-text-22 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-23 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-2 .u-text-24 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-25 {
  margin: 9px auto 0 23px;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-26 {
  font-size: 3.77778rem;
  margin: 29px auto 0 23px;
}

.u-section-2 .u-text-27 {
  text-align: left;
  margin: 18px auto 0 23px;
}

.u-section-2 .u-line-5 {
  width: 383px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 29px 0 0 23px;
}

.u-section-2 .u-list-5 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-repeater-5 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-6 {
  width: 938px;
  margin: 0 auto -91px;
}

.u-section-2 .u-repeater-6 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1573px;
}

.u-section-2 .u-container-layout-14 {
  padding: 10px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-15 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-28 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-1 {
  background-image: none;
}

.u-section-2 .u-line-6 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-29 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-16 {
  padding: 10px;
}

.u-section-2 .u-group-2 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-17 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-30 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-2 {
  margin-top: 0;
  background-image: none;
}

.u-section-2 .u-line-7 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-31 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-18 {
  padding: 10px;
}

.u-section-2 .u-group-3 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-19 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-32 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-3 {
  background-image: none;
}

.u-section-2 .u-line-8 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-33 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-20 {
  padding: 10px;
}

.u-section-2 .u-group-4 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-21 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-34 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-4 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-4 {
  background-image: none;
}

.u-section-2 .u-line-9 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-35 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-22 {
  padding: 10px;
}

.u-section-2 .u-group-5 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-23 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-36 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-5 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  letter-spacing: normal;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-5 {
  background-image: none;
}

.u-section-2 .u-line-10 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-37 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-24 {
  padding: 10px;
}

.u-section-2 .u-group-6 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-25 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-38 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-6 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-6 {
  background-image: none;
}

.u-section-2 .u-line-11 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-39 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-26 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-27 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-40 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-7 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-line-12 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px auto 0;
}

.u-section-2 .u-text-41 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-28 {
  padding: 10px;
}

.u-section-2 .u-group-8 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-29 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-42 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-8 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-7 {
  background-image: none;
}

.u-section-2 .u-line-13 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-43 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-30 {
  padding: 10px;
}

.u-section-2 .u-group-9 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-31 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-44 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-9 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-icon-8 {
  background-image: none;
}

.u-section-2 .u-line-14 {
  width: 183px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-45 {
  margin: 6px 537px 0 35px;
}

.u-section-2 .u-container-layout-32 {
  padding: 10px;
}

.u-section-2 .u-group-10 {
  width: 800px;
  min-height: 128px;
  height: auto;
  margin: 0 auto 0 56px;
}

.u-section-2 .u-container-layout-33 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-2 .u-text-46 {
  font-size: 1.66667rem;
  margin: 28px 550px 0 35px;
}

.u-section-2 .u-btn-10 {
  font-size: 0.777778rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
  margin: -25px 35px 0 auto;
}

.u-section-2 .u-line-15 {
  width: 183px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -22px auto 0;
}

.u-section-2 .u-text-47 {
  margin: 6px 537px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }


  .u-section-2 .u-text-9 {
  }

  .u-section-2 .u-line-2 {
  }

  .u-section-2 .u-list-2 {
   margin-top: 30px;
   margin-bottom: 0px;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }

  .u-section-2 .u-group-10 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-6 {
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-28 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-29 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-30 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-33 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-34 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-35 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-36 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-37 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-38 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-39 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-7 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-40 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-41 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-8 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-42 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-43 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-9 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-44 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-45 {
    margin-right: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-group-10 {
    width: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-text-46 {
    margin-right: 485px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-47 {
    margin-right: 472px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-2 {
    margin-top: -114px;
  }

  .u-section-2 .u-list-6 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 520px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-2 {
    width: 520px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-3 {
    width: 520px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-4 {
    width: 520px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-35 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-5 {
    width: 520px;
  }

  .u-section-2 .u-text-36 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-37 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-6 {
    width: 520px;
  }

  .u-section-2 .u-text-38 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-39 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-7 {
    width: 520px;
  }

  .u-section-2 .u-text-40 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-41 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-8 {
    width: 520px;
  }

  .u-section-2 .u-text-42 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-43 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-9 {
    width: 520px;
  }

  .u-section-2 .u-text-44 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-45 {
    margin-right: 292px;
  }

  .u-section-2 .u-group-10 {
    width: 520px;
  }

  .u-section-2 .u-text-46 {
    margin-right: 305px;
  }

  .u-section-2 .u-text-47 {
    margin-right: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 113px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-4 {
    width: 340px;
  }

  .u-section-2 .u-text-26 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-5 {
    width: 340px;
  }

  .u-section-2 .u-list-6 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-33 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-4 {
    width: 320px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-35 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-5 {
    width: 320px;
  }

  .u-section-2 .u-text-36 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-37 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-6 {
    width: 320px;
  }

  .u-section-2 .u-text-38 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-39 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-7 {
    width: 320px;
  }

  .u-section-2 .u-text-40 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-41 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-8 {
    width: 320px;
  }

  .u-section-2 .u-text-42 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-43 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-9 {
    width: 320px;
  }

  .u-section-2 .u-text-44 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-45 {
    margin-right: 92px;
  }

  .u-section-2 .u-group-10 {
    width: 320px;
  }

  .u-section-2 .u-text-46 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-47 {
    margin-right: 92px;
  }
}